.player-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.player-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
}

.player-card img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.attribute-table {
    width: 100%;
}

.attribute-table td {
    padding: 5px;
    text-align: left;
}

h2 {
    margin: 10px 0;
}
