body {
    background-image: url('background.jpg'); /* Ajoutez votre image de fond ici */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.player-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.player-card {
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.player-card img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.attribute-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.attribute-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.attribute-table tr:last-child td {
    border-bottom: none;
}

h2 {
    margin: 10px 0;
}
